/* =============
    Section 1
============= */
#section-1 {
    background-image: url('../img/section-1/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 695px;
    text-align: center;
    padding-top: 100px;
    
    @include lg {
        height: 799px;
    }

    @include xl {
        height: 959px;
    }

    h1 {
        color: $dark-teal;
        font-family: 'Comfortaa', cursive;
    }

    p {
        color: $light-teal;
    }
    


}
